
 #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto; 
    height: auto;



}
 .overlay h2{

color: red;




 }
 .overlay h3{
     color: goldenrod;
 }
